# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. C++

### Objectives:
*Be able to list commonly used libraries by Data Scientists

*Be able to list some data science tools

*Be able to write and execute arithmetic expressions

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. dplyr

| Data Science Tools |
| ------------------ |
| Jupyter Lab |
| Andaconda |
| VisualStudio Code (VS) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to multiply then add integers
x=(3*4)+5
print(x)

17

###Objectives:
*

In [2]:
#This will convert 200 minutes to hours by dividing by 60
y=200/60
print(y)

3.3333333333333335

## Author
Ardhendu Chowdhury